* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 60px;
    
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 10px 50px;
}

.icon {
    width: auto;
    height: 35px;
}

.logo {
    width: auto;
    height: 30px;
}

.buttons {
    display: flex;
    column-gap: 10px
}

.button-header {
    background-color: transparent;
    color: white;

    padding: 8px 12px;

    border: 1px solid white;
    border-radius: 8px;
}

.button-header:hover {
    cursor: pointer;
    transition-duration: .3s;
    border: 1px solid #F40040;
}